cffi==1.8.3
cryptography==1.5.2
enum34==1.1.6
funcsigs==1.0.2
idna==2.1
ipaddress==1.0.17
mock==2.0.0
paramiko==2.0.2
pbr==1.10.0
pyasn1==0.1.9
pycparser==2.14
requests==2.11.1
six==1.10.0
spur==0.3.19
